html
{
  width:   100%;
  height:  100%;
  margin:  0;
  padding: 0;
}

body
{
  position: relative;

  width:   100%;
  height:  100%;
  margin:  0;
  padding: 0;

  background-color: #DE593A;
}

#gameplay
{
  width:   500px;
  height:  500px;
  margin:  0;
  padding: 0;

  position: absolute;
  top:  50%;
  left: 50%;

  margin: -250px 0 0 -250px;

  /* Rounds all corners */
  -moz-border-radius:    1%;
  -webkit-border-radius: 1%;
  border-radius:         1%;
  -khtml-border-radius:  1%;

  background-color: #FFF;
}

.row
{
  width:   99%;
  height:  8.91%;
  margin:  0.99% 0.54%;
  padding: 0;
}

.cell
{
  width:   9%;
  height:  100%;
  margin:  0 0.5%;
  padding: 0;

  /* Rounds all corners */
  -moz-border-radius:    10%;
  -webkit-border-radius: 10%;
  border-radius:         10%;
  -khtml-border-radius:  10%;

  display: inline-block;
}
